Repository OlivierTD/team-rocket, pull requests merged in 2018-04, with the labels that each got.

#144 iTunes Top List now horizontally scrollable #137
  app/src/main/java/de/danoeh/antennapod/adapter/itunes/ItunesHorizontalAdapter.java
  app/src/main/java/de/danoeh/antennapod/fragment/ToplistFragment.java
  app/src/main/res/layout/toplist_item.xml
  app/src/main/res/layout/toplist_itunes.xml
Labels: [UI Enhancement]

#148 Refresh episodes Multiple Queues
  app/src/main/java/de/danoeh/antennapod/adapter/EpisodesAdapter.java
  app/src/main/java/de/danoeh/antennapod/fragment/QueuesFragment.java
  app/src/main/res/layout/fragment_queue.xml
Labels: [Manage "Inner" Multiple Queues]

#147 Issue #40- Remove episodes inner
  app/src/main/java/de/danoeh/antennapod/adapter/EpisodesAdapter.java
  app/src/main/java/de/danoeh/antennapod/fragment/QueueListFragment.java
  app/src/main/java/de/danoeh/antennapod/fragment/QueuesFragment.java
  app/src/main/java/de/danoeh/antennapod/menuhandler/FeedItemMenuHandler.java
  app/src/main/java/de/danoeh/antennapod/service/QueueStoreService.java
  app/src/main/res/menu/inner_queue_menu.xml
Labels: [Manage "Inner" Multiple Queues]

#146 Suggested podcast
  app/src/main/java/de/danoeh/antennapod/fragment/suggestedPodcastsFragment.java
  app/src/main/res/layout/home_page.xml
  app/src/main/res/layout/sug_pod.xml
  app/src/main/res/layout/suggested_podcasts.xml
Labels: [Suggested Podcast]

#160 Issue #115- Created functionality for renaming queues
  app/src/main/java/de/danoeh/antennapod/adapter/QueuesAdapter.java
  app/src/main/java/de/danoeh/antennapod/fragment/QueueListFragment.java
  app/src/main/res/values/strings.xml
Labels: [Manage "Outer" Multiple Queues], [Multiple Queue], enhancement

#157 Creation new HomePage
  app/src/androidTest/java/de/test/antennapod/ui/MainActivityTest.java
  app/src/main/java/de/danoeh/antennapod/activity/MainActivity.java
  app/src/main/java/de/danoeh/antennapod/adapter/NavListAdapter.java
  app/src/main/java/de/danoeh/antennapod/fragment/CategoriesFragment.java
  app/src/main/java/de/danoeh/antennapod/fragment/FeaturedFragment.java
  app/src/main/java/de/danoeh/antennapod/fragment/HomeFragment.java
  app/src/main/res/layout/category_list.xml
  app/src/main/res/layout/featured_fragment.xml
  app/src/main/res/layout/home_fragment.xml
  app/src/main/res/layout/list.xml
  app/src/main/res/values/strings.xml
  core/src/main/res/values/strings.xml
Labels: [New HomePage], task

#171 New Unit tests for Multiple Queues
  app/src/main/java/de/danoeh/antennapod/fragment/QueuesFragment.java
  app/src/test/java/multipleQueueTests/QueueFragmentTest.java
  app/src/test/java/multipleQueueTests/QueueListFragmentTest.java
Labels: [Manage "Inner" Multiple Queues], [Manage "Outer" Multiple Queues]

#166 UI test for suggested podcast
  app/src/androidTest/java/de/test/antennapod/ui/MainActivityTest.java
Labels: Testing, [Suggested Podcast]

#173 Reset all stats button
  app/src/main/java/de/danoeh/antennapod/fragment/StatisticsFragment.java
  app/src/main/res/layout/statistics_layout.xml
  core/src/main/java/de/danoeh/antennapod/core/storage/DBReader.java
  core/src/main/java/de/danoeh/antennapod/core/storage/PodDBAdapter.java
  core/src/main/res/values/strings.xml
Labels: User Story, [Statistics]

#170 Suggested podcast rename
  app/src/main/java/de/danoeh/antennapod/fragment/SuggestedPodcastsFragment.java
  app/src/main/res/layout/featured_fragment.xml
Labels: Refactoring, [Suggested Podcast]

#175 Ui test for adding episodes
  app/src/androidTest/java/de/test/antennapod/ui/MainActivityTest.java
Labels: [Manage "Inner" Multiple Queues]

#178 fixing ui test for the new home
  app/src/androidTest/java/de/test/antennapod/ui/MainActivityTest.java
Labels: bug

#177 Tests for resetting stats
  app/src/androidTest/java/de/test/antennapod/ui/MainActivityTest.java
  app/src/main/java/de/danoeh/antennapod/fragment/StatisticsFragment.java
Labels: Testing, Unit Test, [Statistics]
